doctype html
html(lang="en")
    head
        meta(charset="UTF-8")
        meta(http-equiv="X-UA-Compatible", content="IE=edge")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        title Maintenance
    body 
        center 
            h1 Sorry for the inconvenience !!!
            h3 Site is currently down for maintenance !!!